@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	box-sizing: border-box;
	background-color: #3da9fc;
	padding: 6px 24px;
	border: 1px solid;
	border-radius: 5px;
	color: #fffffe;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  color: #fffffe;
}
